body {
    background-image: url("fon/фон получше для оплаты.png");
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center; 
    background-size: contain;
    background-size: 1920px 980px;
}